.user-setting{
    display:inline-block;
}
.navbar-brand,
.navbar-brand i,
.navbar brand span{
    background-color: #343a40;
    color: #fff;
}
.navbar-brand{
    padding: 1rem;
    width: 205px;
}

.brand-logo{
    font-size: 20px;
    padding: 20px;
}